/* border-bottom: 1px solid #eee; */


.items-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 600px;
}

.items-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 500px;
  padding: 10vh 15vw;
}

.items-sell-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(165, 210, 255, .4);
  background-image:
    linear-gradient(90deg, rgba(165, 210, 255, .3) 50%, transparent 50%),
    linear-gradient(rgba(165, 210, 255, .3) 50%, transparent 50%);
  background-size: 40px 40px;
  margin-bottom: 40px;
}

/* 共通 */

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 20%;
  margin-right: 10px;
}

.weight-bold-text2 {
  font-weight: bold;
  min-width: 10%;
  margin: 10px 0 0 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 5px;
  margin: 1vh 0;
}

.select-box2 {
  height: 30px;
  width: 20%;
  background-color: #f5f5f5;
  padding-left: 5px;
  margin: 1vh 10px;
}
.month-year {
  margin-top: 30px;
  display: flex;
  justify-content: start;
}

/* /共通 */

/* 商品名と商品説明 */
.weight-bold {
  margin: 10px 0;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  padding: 1rem .5rem;
}

.weight-bold:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

.new-items {
  padding: 2vh 0;
}

.items-short {
  width: 15vw;
  height: 25px;
  padding: 1px 0 5px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
  resize: none;
  margin: 5px 0 0 5px;
  
}

.items-text {
  width: 20vw;
  height: 25px;
  padding: 1px 0 5px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
  resize: none;
  margin: 5px 0 0 5px;
}

.items-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.items-detail {
  padding: 2vh 0;
  margin-right: 10px;
}
ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

li a {
  display: flex;
  flex-direction: column;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}


/* /商品の詳細など */

/* 販売価格 */
.sell-price {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200px;
  background-color: #eee;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 5vw;
  position: fixed;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

.price-content {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 17px;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

/* /販売価格 */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  margin-bottom: 4vh;
  width: 100%;
  height: 50px;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
  border: 1px solid #68e0cf;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}


/* /下部ボタン */

.items-sell-footer {
  width: 40vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.items-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3px 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2px;
}

.inc {
  font-size: 13px;
}

.item-red-btn2 {
  text-align: center;
  background-color: #000066;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  margin: 30px 15px;
  padding: 1vh 5vw;
}

@media screen and (max-width: 480px) {
.indispensable {
  margin-left: 2px;
  padding: 3px;
  font-size: 5px;
}

.items-sell-main {
  background-color: #FFF;
  width: 100%;
  min-width: 300px;
  padding: 10vh 5vw;
}

.items-sell-contents {
  font-size: 10px;
  min-width: 300px;
}

.items-sell-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.month-year {
  margin-top: 15px;
  display: flex;
  justify-content: start;
}

.items-text {
  width: 50vw;
  height: 25px;
  padding: 3px 0 5px 8px;
  font-size: 10px;
}

.items-short {
  width: 30vw;
  height: 25px;
  padding: 3px 0 5px 8px;
  font-size: 8px;
  margin: 5px 0 0 5px;
}

.sell-price {
  width: 130px;
  height: 90px;
  bottom: 32px;
  right: 5vw;
  padding: 10px;
}

.price-content {
  font-size: 11px;
  padding-bottom: 3px;
}

.items-sell-footer {
  width: 100%;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.back-btn {
  padding: 15px 35%;
  text-decoration: none;
  font-size: 12px;
}

.select-box {
  color: black;
}

.select-box2 {
  color: black;
}

}